* {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  transition: 1s;
}
#div {
  position: relative;
  top: 200px;
  background-color: aliceblue;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
}
p {
  font-size: 30px;
}
button {
  padding: 30px;
}
